
#container {
    margin-top: 200px;
}

.moviecardview {
    height: 640px;
    text-align: center;
}

.title {
    text-align: center;
    align-items: center;
}

.rating {
    font-weight: lighter;
    text-align: center;
    align-items: center;
}
